# historic air_temperature implementation

In [21]:
# install the modules on the OS
#!pip install influxdb

# import the modules
import pandas as pd
import datetime as dt
#from influxdb import DataFrameClient
import numpy as np
import influxdb
import os
import math
from decimal import *

In [22]:
# define the database connection string
DB_HOST = 'localhost' 
DB_PORT = 8086
DB_NAME = 'meteorology'
DB_USER = 'root'
DB_PASSWORD = 'root'
#stations = ['mythenquai', 'tiefenbrunnen']

In [120]:
pd.set_option('display.max_rows', test.shape[0]+1)




client = influxdb.DataFrameClient(DB_HOST, DB_PORT, DB_USER, DB_PASSWORD, DB_NAME)


query = """SELECT 
            mean(air_temperature)
            FROM "meteorology"."autogen"."mythenquai"
            WHERE time < now()
            GROUP BY time(24h)"""

df = pd.DataFrame(client.query(query)["mythenquai"])
gb = df.groupby([df.index.month, df.index.day]).mean().reset_index()


#print(df)
#gb = gb.apply(lambda g: g[gb.index > 350])
#df = gb[(gb.index > 350) | gb(gb.index < 10)]
df = gb.loc[(gb.index > 350) | (gb.index < 8)]


print(df)

     level_0  level_1      mean
0          1        1  2.853725
1          1        2  2.028544
2          1        3  1.980803
3          1        4  2.337481
4          1        5  2.496970
5          1        6  2.246462
6          1        7  2.805340
7          1        8  3.255638
351       12       17  2.699074
352       12       18  2.347801
353       12       19  2.697280
354       12       20  2.643953
355       12       21  4.138142
356       12       22  4.954644
357       12       23  5.466697
358       12       24  4.566941
359       12       25  4.542696
360       12       26  2.796131
361       12       27  2.584437
362       12       28  1.500780
363       12       29  1.405729
364       12       30  3.126852
365       12       31  3.166211